body{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 101.6;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.titreBloc4-3{
    margin-top: 90px;
    text-align: center;
}

.titreBloc4-3 h1{
    color: #192381;
    font-size: 38px;
    font-weight: 500;
}

.titreBloc4-3 p{
    color: #2767F6;
}

.lesArticlesBloc4-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.articleBloc4-3{
    width: 340px;
    margin: 60px;
}

.articleBloc4-3 h2{
    color: #192381;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 24px;
}

.articleBloc4-3 p{
    color: rgba(72, 72, 72, 0.853);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.articleBloc4-3 img{
    width: 340px;
}

.articleBloc4-3 button img{
    width: 26px;
    margin-bottom: -9px;
}

.articleBloc4-3 button{
    margin-left: 10px;
    padding: 10px 16px 14px 24px;
    border: none;
    background-color: #2769f623;
    border-radius: 3px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #192381;
}

.dateArticle{
    display: flex;
    margin-bottom: 24px;
}

.dateArticle p{
    margin: -2px 0 0 8px;
    color: #192381;
    font-size: 14px;
    font-weight: 400;
}

.dateArticle img{
    width: 16px;
}

@media screen and (max-width:730px) {
    .articleBloc4-3{
        width: 340px;
        margin: 20px;
    }

    .articleBloc4-3 img{
        width: 340px;
    }

    .dateArticle img{
        width: 16px;
    }
}