body{
    margin: 0;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 101.6;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.bloc4-1{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.illustrationBloc4-1 {
    flex: 1;
    text-align: end;
    padding-right: 30px;
}

.illustrationBloc4-1 img{
    width: 400px;
}

.textPartBloc4-1{
    flex: 1;
    padding-left: 30px;
}

.textPartBloc4-1 h2, p, blockquote{
    width: 425px;
}

.textPartBloc4-1 h2{
    color: #192381;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 0;
}

.textPartBloc4-1 p{
    color: #2D71F6;
    font-weight: 500;
    
}

.textPartBloc4-1 blockquote{
    border:solid;
    padding: 25px;
    border-width: 1.5px;
    border-color: rgba(175, 175, 175, 0.507);
    margin: 0;
    line-height: 2;
    color: #192381;
    font-weight: 500;
    margin: 45px 0 45px 0;
    width: 380px;
}

.profilQuote{
    display: flex;
    margin-left: 26px;
    margin-bottom: 30px;
}

.profilQuote img{
    border-radius: 50px ;
    width: 48px;
}

.profilQuote h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 16px;
    font-size: 22px;
    font-weight: 500;
    color: #192381;
}

.profilQuote p{
    margin-top: 0;
    padding-left: 16px;
    color: #2D71F6;
    font-weight: 500;
}

.qPoints{
    display: flex;
    margin-left: 12px;
}

.qPoints img{
    width: 11px;
    padding: 3px;
}

.qPoints .grosPoint img{
    width: 15px;
    margin-top: -2px;
}


@media screen and (max-width : 1019px){
    
.bloc4-1{
    display: grid;
    padding-top: 100px;
    padding-bottom: 100px;
}

.illustrationBloc4-1 {
    flex: 1;
    text-align: center;
    padding-right: 0;
}

.illustrationBloc4-1 img{
    width: 400px;
}

.textPartBloc4-1{
    flex: 1;
    padding-left: 0;
    margin: 0 auto;
    width: 425px;
}

.textPartBloc4-1 h2, p, blockquote{
    width: 425px;
}

.textPartBloc4-1 h2{
    color: #192381;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 0;
}

.textPartBloc4-1 p{
    color: #2D71F6;
    font-weight: 500;
    
}

.textPartBloc4-1 blockquote{
    border:solid;
    padding: 25px;
    border-width: 1.5px;
    border-color: rgba(175, 175, 175, 0.507);
    margin: 0;
    line-height: 2;
    color: #192381;
    font-weight: 500;
    margin: 45px 0 45px 0;
    width: 88%;
}

.profilQuote{
    display: flex;
    margin-left: 26px;
    margin-bottom: 30px;
}

.profilQuote img{
    border-radius: 50px ;
    width: 48px;
}

.profilQuote h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 16px;
    font-size: 22px;
    font-weight: 500;
    color: #192381;
}

.profilQuote p{
    margin-top: 0;
    padding-left: 16px;
    color: #2D71F6;
    font-weight: 500;
}

.qPoints{
    display: flex;
    margin-left: 12px;
}

.qPoints img{
    width: 11px;
    padding: 3px;
}

.qPoints .grosPoint img{
    width: 15px;
    margin-top: -2px;
}
}
