body{
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.blueQuote p{
    font-size: 14px;
    margin: 0px;
    text-align: center;
    background-color: #0B155F;
    padding-top: 9px;
    padding-bottom: 9px;
    color: white;
    width: 100%;   
 
}

.bloc1{
    padding-top: 36px;
    padding-left: 20%;
    background-image: url(png/bgslider.jpg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover ;
}

.headerBloc1{
    display: flex;
}

.logoBloc1{
    flex: 1.5;
    margin-top: 18px;
}

.logoBloc1 img{
    width: 90px;
}

.logoBloc1 h1{
    color: #0B155F;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    padding-bottom: 50px;
}

.menuBloc1{
    flex: 1;
    font-weight: 700;
    font-size: 16px;
    margin-top: 26px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.menuResponsive{
    display: none;
}

.menuBloc1 a{
    text-decoration: none;
    color: #000060;
}

.menuBloc1 a:hover{
    color: #2D71F6;
}

.contactBloc1{
    flex:1.1;
    margin-top: 16px;
}

.contactBloc1 button{
    border:none;
    border-radius: 4px;
    background-color: #2767F6;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    padding: 7px 18px 12px 28px;
    transition: 0.5s;
}

.contactBloc1 button:hover{
    font-size: 16px;
    transition: 0.5s;
}

.contactButtonBloc1 img{
    margin-bottom: -10px;
    padding-left: 8px ;
}

.flechePage img{
    width: 18px;
}

.textPartSousContact a{
    margin: 0;
    padding: 0 8px 12px;
    text-decoration: none;
    color: #000060;
    font-weight: 600;
}


.textPartSousContact {
    display: flex;
    padding-top: 70px;

}

@media screen and (max-width :800px) {
    .bloc1{
        padding-left: 20px;
        background-image: url(png/bgslider.jpg);
        background-repeat: no-repeat;
        background-position:bottom;
        background-size: cover ;
    }
    
    .headerBloc1{
        display: flex;
    }
    
    .logoBloc1{
        flex: 1.5;
        margin-top: 26px;
    }
    
    .logoBloc1 img{
        width: 110px;
    }
    
    .menuBloc1{
        display: none
    }
    
    .headerBloc1 .contactBloc1{
        display: none;
    }

    .menuResponsive{
        display: inherit;
        padding-top: 26px;
        padding-right: 26px;
    }
    
    .menuResponsive img{
        width: 28px;
    }

}
@media screen and (max-width :440px){


}
.bloc2{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}
.leftpartbloc2{
    flex: 1;
    padding-top: 9%;
}
.title h1{
    font-weight: 700;
    font-size: 43px;
    color: #0B155F;
    font-family: Quicksand;
    margin: 0;

}
.title h2{
    color: #2767F6;
    font-size: 17px;
    padding-top: 10px;
    font-weight: 400;
}
.title{
    margin: 0;
}
.title p{
    font-size: 15px;
    color: grey;
    font-family: Nunito Sans;
    line-height: 2;
}
.bodypartofleftpart1{
    display: flex;
}
.image1{
    padding-top: 8%;
    flex: 1;
}
.image1 img{
    width: 50px;
    
}
.titleofbodypart{
    padding-left: 30px;
    padding-top: 2%;
}
.titleofbodypart h1{
    font-size: 25px;
    margin: 0;
    font-weight: 700;
    color: #000060;
    font-family: Quicksand;
}
.titleofbodypart p{
    color: grey;
    line-height: 2;
    font-size: 14px;
}
.buttonBloc2{
    padding-top: 4%;
}
.buttonBloc2 button{
    border:none;
    border-radius: 4px;
    background-color: #2767F6;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    padding: 10px 45px 12px 28px;
    transition: 0.5s;
    text-decoration: none;
}

.buttonBloc2 img{
    width: 30px;
    margin-bottom: -10px;
    padding-left: 8px; 
}
.rightpartbloc2{
    flex: 1;
    display: flex;
    padding-top: 10%;
    justify-content: space-between;
}
.image{
    margin-right: 25%;
    padding-left: 50px;
}
.image img{
    width: 550px;
    padding-left: 70px;
    
}
.image2{
   margin-top: 300px;
   position: absolute;
   right: 0;
}
.image2 img{
    background-color: #2767F6;
    width: 15px;
    padding: 20px 20px;
    border-radius: 2px;
}
@media screen and (max-width :768px){
    .bloc2{
        display: inline; 
    }
    .leftpartbloc2{
        padding-left: 20px;
    }
    .title h1{
        font-weight: 700;
        font-size: 43px;
        color: #0B155F;
        font-family: Quicksand;
        margin: 0;
        width: 500px;
    }
    .title h2{
        color: #2767F6;
        font-size: 17px;
        padding-top: 10px;
        font-weight: 400;
    }
    .title{
        margin: 0;
    }
    .buttonBloc2{
        padding-top: 4%;
    }
    .buttonBloc2 button{
        border:none;
        border-radius: 4px;
        background-color: #2767F6;
        color: white;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        padding: 10px 285px;
        transition: 0.5s;
        text-decoration: none;
        
    }
    .image{
        margin-right: 25%;
        padding-left: 50px;
    }
    .image img{
        width: 550px;
        padding-left: 0px;
        
    }
    .buttonBloc2 img{
        width: 30px;
        margin-bottom: -10px;
        
    }
    .image2{
        margin-top: -425px;
        margin-right: 40px;
        position: absolute;
        right: 0;
     }
     .image2 img{
         background-color: #2767F6;
         width: 15px;
         padding: 20px 20px;
         border-radius: 2px;
     }
}
@media screen and (max-width :440px){
    .bloc2{
        display: inline; 
        
    }
    .leftpartbloc2{
        padding-left: 20px;
    }
    .title h1{
        font-weight: 700;
        font-size: 30px;
        color: #0B155F;
        font-family: Quicksand;
        margin: 0;
        width: 400px;
        padding-top: 50px;
    }    
    .title h2{
        color: #2767F6;
        font-size: 18px;
        padding-top: 10px;
        font-weight: 400;
    }
    .title p{
        font-size: 15px;
        color: grey;
        font-family: Nunito Sans;
        line-height: 2;
    }
    .buttonBloc2 button{
        border:none;
        border-radius: 4px;
        background-color: #2767F6;
        color: white;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        padding: 10px 110px;
        transition: 0.5s;
        text-decoration: none;
    }
    .bodypartofleftpart1{
        display: inline;
    }
    .image1{
        padding-top: 8%;
        margin: 0;
        
       
    }
    .image1 img{
        width: 50px;
        
        
    }
    .titleofbodypart{
        padding-left: 0px;
        padding-top: 2%;
    }
    .titleofbodypart h1{
        font-size: 25px;
        margin: 0;
        font-weight: 700;
        color: #000060;
        font-family: Quicksand;
    }
    .titleofbodypart p{
        color: grey;
        line-height: 2;
        font-size: 14px;
        width: 95%;
    }
   
.image{
    padding-left: 0px;
    
}
.image img{
    width: 420px;
}
.image2{
   margin-top: -500px;
   position: absolute;
   right: 0;
}
.image2 img{
    background-color: #2767F6;
    width: 15px;
    padding: 20px 20px;
    border-radius: 2px;
}
}
.bloc3{
    background-image: url(png/bg-facts.png);
    background-size: 105%;
    background-color: #2767F6;
    margin-top: 150px;
    height: 1000px;
    background-repeat: no-repeat;
    
}
.headerbloc3{
    text-align: center;
    color: white;
    padding-bottom: 25px;
}
.headerbloc3 h1{
    padding-top: 100px;
    font-family: Quicksand;
    font-size: 45px;
    
}
.headerbloc3 p{
    font-family: Nunito Sans;
    font-size: 20px;
}

.services-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
.service-box{
    width: 300px;
    padding: 5px 100px 0px 35px;
    margin: 20px 20px;
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    display: flex;
}

.imgbox{
    flex: 1;
}
.service-box img{
    padding-top: 40px;
    width: 75px;
    padding-right: 25px;
}
.texpartbox{
    flex: 1;
}
.service-box h3{
    color: #000060;
    font-weight: 700;
    font-family: Quicksand;
    margin: 0;
    padding-bottom: -5px;
    font-size: 25px;
    padding-top: 20px;
    
}
.service-box p{
    font-family: Nunito Sans;
    color: grey;
    line-height: 2;
    font-size: 19px;
    width: 250px;
}

@media screen and (max-width :768px){
    .bloc3{
       
        background-size: 105%;
        background-color: #2767F6;
        margin-top: 150px;
        height: 1000px;
        background-repeat: no-repeat;
        
    
    }
    .headerbloc3{
        text-align: center;
        color: white;
        padding-bottom: 25px;
    }
    .headerbloc3 h1{
        padding-top: 100px;
        font-family: Quicksand;
        font-size: 45px;
        
    }
    .headerbloc3 p{
        font-family: Nunito Sans;
        font-size: 20px;
    }
    
    .services-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .service-box{
        width: 200px;
        padding: 5px 70px 0px 30px;
        margin: 10px 10px;
        background-color: #f9f9f9; 
        border: 1px solid #ddd; 
        border-radius: 8px; 
       
    }
    
    
    .service-box img{
        padding-top: 40px;
        width: 60px;
        padding-right: 25px;
    }
   
    .service-box h3{
        color: #000060;
        font-weight: 700;
        font-family: Quicksand;
        margin: 0;
        padding-bottom: -5px;
        font-size: 25px;
        padding-top: 20px;
        
    }
    .service-box p{
        font-family: Nunito Sans;
        color: grey;
        line-height: 2;
        font-size: 16px;
        width: 200px;
    }

}
@media screen and (max-width :440px){
    .bloc3{
        background-image: none;
        background-color: #2767F6;
        margin-top: 150px;
        height: 1700px;
      
    }
    .headerbloc3{
        text-align: center;
        color: white;
        padding-bottom: 25px;
    }
    .headerbloc3 h1{
        padding-top: 100px;
        font-family: Quicksand;
        font-size: 30px;
        
    }
    .headerbloc3 p{
        font-family: Nunito Sans;
        font-size: 19px;
    }
    .services-grid {
        display: inline;
        justify-content: center;
        flex-wrap: wrap;
    }
    .service-box{
        width: 300px;
        padding: 0px 70px 0px 30px;
        margin: 10px 10px;
        background-color: #f9f9f9; 
        border: 1px solid #ddd; 
        border-radius: 8px; 
        display: block;
        text-align: center;
    }
    
    .service-box img{
        padding-top: 20px;
        width: 75px;
        padding-right: 0px;
       
    }
    
    .service-box h3{
        color: #000060;
        font-weight: 700;
        font-family: Quicksand;
        margin: 0;
        padding-bottom: -5px;
        font-size: 25px;
        padding-top: 20px;
        
    }
    .service-box p{
        font-family: Nunito Sans;
        color: grey;
        line-height: 2;
        font-size: 16px;
        width: 340px;
    }
}
.bloc4{
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   margin-top: -240px;
}
.bloc4perso{
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    margin-top: 30px;
    border-radius: 10px;
    border: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.bloc4perso h2{
    color: #000060;
    font-family: Quicksand;
}
.bloc4perso p{
    color: #2767F6;
    font-family: Nunito Sans;
}
@media screen and (max-width :768px){
    .bloc4{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 25px;
        margin-top: -150px;
        
     }
     .bloc4perso{
         margin-left: 10px;
         padding-left: 0px;
         padding-right: 5px;
         padding-top: 20px;
         margin-top: 30px;
         border-radius: 10px;
         border: #FFFFFF;
         background-color: #FFFFFF;
         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
         text-align: center;
         width: 300px;
     }
     .bloc4perso img{
        width: 75%;
     }
     .bloc4perso h2{
         color: #000060;
         font-family: Quicksand;
     }
     .bloc4perso p{
         color: #2767F6;
         font-family: Nunito Sans;
     }
}
@media screen and (max-width :440px){
    .bloc4{
        display: inline-block;
        margin-left: 0px;
        margin-top: -150px;

        
     }
     .bloc4perso{
        padding-bottom: 10px;
        margin-left: 20px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        margin-top: 30px;
        border-radius: 10px;
        border: #FFFFFF;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 300px;
    }
    .bloc4perso img{
        width: 100%;
     }
}
.bloc5{
   margin: 150px 200px
}
.backgroundbloc5{
    
    background-color: #005CF2;
    display: flex;
    border-radius: 5px;
    text-align: center;
}
.numberbloc5{
    flex: 1;
    margin-top: 25px;
    margin-bottom: 25px;
    
    
}
.numberbloc5 h1{
    color: white;
    font-family: Quicksand;
    
}
.numberbloc5 p{
    color: white;
    font-family: Nunito Sans;
}
@media screen and (max-width :440px){
    .bloc5{
        display: inline;
        flex-wrap: wrap;
        text-align: center;
        
    }
    .backgroundbloc5{
        background-color: #2767F6;
        margin-top: 100px;
        padding: 10px 0px;
    }
    
    .numberbloc5{
        margin-top: 0px;
    }
}
.bloc6{
    display: flex;
    margin-top: 100px;
    margin-left: 400px;
}
.leftpartbloc6{
    flex: 1;
    
}
.leftpartbloc6 h1{
    font-size: 50px;
    width: 470px;
    font-family: Quicksand;
    color: #000060;
    
}
.leftpartbloc6 h4{
    font-size: 20px;
    padding-left: 10px;
}
.leftpartbloc6 p{
    color: #005CF2;
    line-height: 2 ;
    font-size: 18px;
    width: 501px;
}
.headleftpartbloc6 p{
    color: #2767F6;
    font-family: Nunito Sans;
    font-size: 20px;
}
summary::-webkit-details-marker {
    display: none;
}

/* Style par défaut pour les questions fermées */
summary {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 10px;
    padding:  0px 20px;
    list-style: none;
    background-color: #FFFFFF   ;
    padding-left: 10px;
    border:solid;
    border-color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
    .b8moins{
        display: none;
    }
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style lorsque la question est ouverte */
details[open] summary {
    color: #010462;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
  .b8plus{
    display: none;
  }
  .b8moins{
    display: inherit;
  }
}    

.b8plus{
    width: 20px;
    padding-top: 30px;
}

.b8moins{
    width: 20px;
    padding-top: 30px;
}

/* Style du contenu de réponse */
details p {
  margin: 10px 0 0;
  padding: 10px;
}

.b8faq{
    display: grid;
    justify-content: center;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
    padding-bottom: 50px;
}
.rightpartbloc6{
    flex: 1;
    margin-top: 50px;
}
@media screen and (max-width :768px){
    .bloc6{
        display: inline;
        margin-top: 100px;
    }
    .leftpartbloc6{
      
        margin-left: 40px;
    }
    .leftpartbloc6 h1{
        font-size: 50px;
        
        font-family: Quicksand;
        color: #000060;
        
    }
    .headleftpartbloc6 p{
        color: #2767F6;
        font-family: Nunito Sans;
        font-size: 20px;
    }
    .leftpartbloc6 h1{
        font-size: 40px;
        width: 100%;
        font-family: Quicksand;
        color: #000060;
    }
    
    .leftpartbloc6 p{
        color: grey;
        line-height: 2 ;
        font-size: 15px;
        width: 650px;
    }
    summary {
        display: flex;
        justify-content: space-between;
        width: 600px;
        margin: 10px;
        padding:  0px 20px;
        list-style: none;
        background-color: #FFFFFF   ;
        padding-left: 10px;
        border:solid;
        border-color: #FFFFFF;
        cursor: pointer;
        transition: all 0.3s ease;
        .b8moins{
            display: none;
        }
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .rightpartbloc6{
       margin-left: 100px;
        margin-top: 50px;
    }
}
@media screen and (max-width :440px){
    .leftpartbloc6{
      
        margin-left: 10px;
    }
    .headleftpartbloc6 p{
        color: blue;
        font-family: Nunito Sans;
        font-size: 19px;
    }
    .leftpartbloc6 h1{
        font-size: 40px;
        width: 100%;
        font-family: Quicksand;
        color: #000060;
    }
    .leftpartbloc6 h4{
        font-size: 17px;
        padding-left: 10px;
    }
    
    .leftpartbloc6 p{
        color: grey;
        line-height: 1.5;
        font-size: 16px;
        width: 350px;
    }
    summary {
        display: flex;
        justify-content: space-between;
        width: 350px;
        margin: 10px;
        padding:  0px 20px;
        list-style: none;
        background-color: #FFFFFF   ;
        padding-left: 10px;
        border:solid;
        border-color: #FFFFFF;
        cursor: pointer;
        transition: all 0.3s ease;
        .b8moins{
            display: none;
        }
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .rightpartbloc6{
        margin:  50px 5px;
     }
     .rightpartbloc6 img{
        width: 100%;
     }
}
.bloc7{
    margin-top: 80px;
    
}
.bloc7 h1,h2,h3{
    font-family: Quicksand;
}
.bloc7 p{
    font-family: Nunito sans;
}
.section1Bloc7{
    display: flex;
    background-color: #0B155F;
    background-image: url(png/bg-3.png);
    background-size: 90%; 
    background-repeat: no-repeat; 
    background-position: center; 
}
.textPartSection1Bloc7{
    flex: 3;
    padding-left: 20%;
    padding-right: 5%;
}

.imageSection1Bloc7{
    flex: 1;
    padding-right: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imageSection1Bloc7 img{
    width: 350px;
}

.textPartSection1Bloc7 h1{
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 70px;
}

.textPartSection1Bloc7 h2{
    color:#6FF0B1;
    font-size: 16px;
    font-weight: 400;
}

.updateBloc7{
    display: flex;
}

.updateBloc7 img{
    width: 18px;
}

.updateBloc7 p{
    margin-top: 0;
    padding-left: 10px;
    color: white;
}

.textPartSection1Bloc7 button{
    margin-top: 8px;
    border:none;
    border-radius: 4px;
    background-color: #2767F6;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    padding: 6px 16px 13px 24px;
    transition: 0.5s;    
}

.textPartSection1Bloc7 button:hover{
    font-size: 16px;
    transition: 0.5s;
}

.textPartSection1Bloc7 button img{
    width: 28px;
    margin-left: 4px;
    margin-bottom: -9px;
}

.section2Bloc7{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menuBloc7{
    flex:1;
    min-width: 196px;
}

.menuBloc7 h2{
    color: #0B155F;
    font-weight: 600;
}

.menuBloc7 h3{
    color: #0B155F;
    font-weight: 500;
    margin-bottom: 8px;
}

.menuBloc7 p{
    color:#848484;
    font-size: 14px;
}

.phoneNumberBloc7{
    display: flex;
}

.phoneNumberBloc7 p{
    margin-top: 0;
    color: #005CF2;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 500;
}

.phoneNumberBloc7 img{
    width: 18px;
}

.followBloc7{
    display: flex;
}

.followBloc7 h2{
    margin-top: 0;
    font-size: 20px;
}

.followBloc7 img{
    width: 24px;
    padding-left: 12px;
}

.copyright{
    text-align: center;
    display: initial;
}

.copyright p{
    font-size: 11px;
    color: grey;
    background-color: rgba(128, 128, 128, 0.096);
    margin: 0;
    padding: 14px 0 14px 0;
}

@media screen and (max-width :768px){
    .bloc7{
        margin-top: 80px;
       
    }
    .bloc7 h1,h2,h3{
        font-family: Quicksand;
    }
    .bloc7 p{
        font-family: Nunito sans;
    }
    .section1Bloc7{
        display: grid;
        background-color: #0B155F;
        background-image: url(png/bg-3.png);
        background-size: 90%; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    
    .textPartSection1Bloc7{
        flex: 3;
        padding-left: 5%;
    }
    
    .imageSection1Bloc7{
        flex: 1;
        padding-right: 15%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 200px;
    }
    
    .imageSection1Bloc7 img{
        width: 350px;
    }
    
    
}  
@media screen and (max-width :440px){
    .imageSection1Bloc7{
        flex: 1;
        padding-right: 0%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 20px;
    }
    
    .imageSection1Bloc7 img{
        width: 350px;
    }
    .section2Bloc7{
        display: flex;
        flex-wrap: wrap;
        margin-left: 3%;
        margin-right: 20%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
   
}
