body{
    margin: 0;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 101.6;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.bloc4-2{
    display: flex;
    padding: 70px 26% 70px 26%;
    background-image: url(png/bg-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2767F6;
}

.textPartBloc4-2{
    flex: 1;
    margin-right: 20px;
    
}

.textPartBloc4-2 h1{
    color: white;
    font-weight: 500;
    font-size: 38px;
    padding-top: 40px;
    margin-bottom: 15px;
}

.textPartBloc4-2 span{
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.textPartBloc4-2 p{
    color: rgba(255, 255, 255, 0.712);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    padding-top: 10px;
}

.textPartBloc4-2 .number{
    display: flex;
}

.textPartBloc4-2 .number h1{
    padding-top: 0;
    margin-bottom: 0;
}

.textPartBloc4-2 .number p{
    padding-top: 0;
    margin-top: 0;
    font-weight: 400;
}

.formulaireBloc4-2withLine{
    flex: 1;
    margin-left: 20px;
    display: grid;
}

.formulaireBloc4-2{
    display: grid;
    padding: 40px;
    height: 420px;
    background-color: white;
    border-radius: 6px;
}

.formulaireBloc4-2 h3{
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-block-start: auto;
    color: #0B155F;
}

.formulaireBloc4-2 h4 {
    font-size: 16px;
    color: #848484;
    font-weight: 400;
    margin-top: 0;

}

.formulaireBloc4-2 input{
    margin: 0 0 15px 0;
    background-color: #EFF4FF;
    border: solid;
    border-width: 1px;
    border-color: #d2e0ff;
    border-radius: 1px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #848484;
    font-weight: 500;    
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    outline: none;
}

.formulaireBloc4-2 ::placeholder{
    color:#8484849f;
}

.formulaireBloc4-2 select {
    background-color: #EFF4FF;
    border: solid;
    border-width: 1px;
    border-color: #d2e0ff;
    border-radius: 1px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#000060;
    font-weight: 500;    
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    appearance: none;
    background-image: url("./png/fleche-deroulante\ \(1\).png");
    background-repeat: no-repeat;
    background-position: right 1rem top 50%;
    background-size: 0.65rem auto;
    outline: none;
}

.contactBloc4-2 button{
    margin-top: 15px;
    border:none;
    border-radius: 4px;
    background-color: #2767F6;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    padding: 7px 18px 12px 28px;
    width: 100%;
    transition: 0.5s;

}

.contactBloc4-2 img{
    width: 28px;
    margin-left: 4px;
    margin-bottom: -9px;
}

.h_line{
    background-color: rgba(255, 255, 255, 0.518);
    height: 10px;
    width: 90%;
    margin-left: 20px;
    border-radius: 0 0 6px 6px;
}


@media screen and (max-width:1440px){
    .bloc4-2{
        display: flex;
        padding: 70px 16% 70px 16%;
        background-image: url(png/bg-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #2767F6;
    }
}

@media screen and (max-width:800px){
    .bloc4-2{
        display: grid;
        padding: 20px 30px 70px 30px;
        background-image: none;
        background-color: #2767F6;
    }

    .formulaireBloc4-2withLine{
        flex: 1;
        margin-left: 0px;
        display: grid;
    }

    .textPartBloc4-2 .number{
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }
}