body{
    margin: 0;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 101.6;
}

.bloc22{
    display: flex;
    height: 800px;
}

.bloc22{
    width: 100%;
    height: 800px;
    background-color: #0B155F;
    background-image: url(png/bg-5.png);
    background-size: 90%; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.pictureBloc22 {
    flex:1;
}
  
.greenshapeBloc22{
    position: absolute;
    margin-left: 17%;
    margin-top: 13%;
    width: 443px;
}

.blueshapeBloc22{
    position: absolute;
    margin-left: 18%;
    margin-top: 9%;
    width: 228px;
}

.ppBloc22{
    position: absolute;
    width: 376px;
    margin-top: 7%;
    margin-left: 19%;
    border-radius: 0px 0px 185px 134px;
}

.textPartBloc22{
    flex: 1;
    position: relative;
    padding-top: 86px ;
    padding-left: 200px;
    width: 450px;
}

.textPartBloc22 h2{
    color: white;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.sousTitreBloc22{
    color:#6FF0B1;
    font-size: 24px;
}

.textPartBloc22{
    color: #BBC0CC;
    font-size: 19px;
    
}
  
.textPartBloc22 p {
    padding-right: 40%;
    line-height: 2;
}

.sousTextBloc22{
    display: flex;
    margin-bottom: 40px;
}

.sousTextBloc22 img{
    margin-top: 45px;
    margin-right: 25px;
    width: 38px;
}

.sousTextBloc22 p{
    font-size: 16px;
}

.textPartBloc22 button{
    background-color: unset;
    border-style: solid;
    border-color: #bbc0cc7f;
    border-width: 1.5px;
    color: white;
    border-radius: 2px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 14px ;
    padding-right: 14px;
    padding-left: 18px;
}

.textPartBloc22 button img{
    margin-bottom: -12px;
}

@media screen and (max-width:1160px) {
    .bloc22{
        display: grid;
        height: 800px;
    }
    
    .bloc22{
        width:unset;
        height:1500px ;
        background-color: #0B155F;
        background-image: unset;
    }
    
    .pictureBloc22 {
        flex:1;
    }
      
    .greenshapeBloc22{
        position: absolute;
        margin-left: 17%;
        margin-top: 18%;
        width: 443px;
    }
    
    .blueshapeBloc22{
        position: absolute;
        margin-left: 18%;
        margin-top: 9%;
        width: 228px;
    }
    
    .ppBloc22{
        position: absolute;
        width: 376px;
        margin-top: 7%;
        margin-left: 19%;
        border-radius: 0px 0px 185px 134px;
    }
    
    .textPartBloc22{
        flex: 1;
        position: relative;
        padding-top: 552px ;
        padding-left: 115px;
        width: 450px;
    }
    
    .textPartBloc22 h2{
        color: white;
        font-size: 42px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 0;
    }
    
    .sousTitreBloc22{
        color:#6FF0B1;
        font-size: 24px;
    }
    
    .textPartBloc22{
        color: #BBC0CC;
        font-size: 19px;
        
    }
      
    .textPartBloc22 p {
        padding-right: 40%;
        line-height: 2;
    }
    
    .sousTextBloc22{
        display: flex;
        margin-bottom: 40px;
    }
    
    .sousTextBloc22 img{
        margin-top: 45px;
        margin-right: 25px;
        width: 38px;
    }
    
    .sousTextBloc22 p{
        font-size: 16px;
    }
    
    .textPartBloc22 button{
        background-color: unset;
        border-style: solid;
        border-color: #bbc0cc7f;
        border-width: 1.5px;
        color: white;
        border-radius: 2px;
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 14px ;
        padding-right: 14px;
        padding-left: 18px;
    }
    
    .textPartBloc22 button img{
        margin-bottom: -12px;
    }
}

@media screen and (max-width: 600px) {
    .bloc22{
        display: grid;
        height: unset;
    }
    
    .bloc22{
        width: unset;
        height:1200px ;
        background-color: #0B155F;
        background-image: unset;
    }
    
    .pictureBloc22 {
        flex:1;
    }
      
    .greenshapeBloc22{
        position: absolute;
        margin-left: 6%;
        margin-top: 155px;
        width: 360px;
    }
    
    .blueshapeBloc22{
        position: absolute;
        margin-left: 6%;
        margin-top: 75px;
        width: 213px;
    }
    
    .ppBloc22{
        position: absolute;
        width: 300px;
        margin-top: 70px;
        margin-left: 16%;
        border-radius: 0px 0px 185px 134px;
    }
    
    .textPartBloc22{
        flex: 1;
        position: absolute;
        padding-top: 500px ;
        padding-left: 30px;
        padding-right: 30px;
        width: unset;
    }
    
    .textPartBloc22 h2{
        color: white;
        font-size: 42px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 0;
    }
    
    .sousTitreBloc22{
        color:#6FF0B1;
        font-size: 24px;
    }
    
    .textPartBloc22{
        color: #BBC0CC;
        font-size: 19px;
        
    }
      
    .textPartBloc22 p {
        padding-right: 0;
        line-height: 2;
    }
    
    .sousTextBloc22{
        display: flex;
        margin-bottom: 40px;
    }
    
    .sousTextBloc22 img{
        margin-top: 45px;
        margin-right: 25px;
        width: 38px;
    }
    
    .sousTextBloc22 p{
        font-size: 16px;
    }
    
    .textPartBloc22 button{
        background-color: unset;
        border-style: solid;
        border-color: #bbc0cc7f;
        border-width: 1.5px;
        color: white;
        border-radius: 2px;
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 14px ;
        padding-right: 14px;
        padding-left: 18px;
    }
    
    .textPartBloc22 button img{
        margin-bottom: -12px;
    }
}