body{
    margin: 0;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 101.6;
}

.bloc4{
    background-color: #F6F9FC;
    padding-bottom: 100px;
}

.titreDesCasBloc4{
    padding-top: 86px;
}

.titreDesCasBloc4 h2{
    text-align: center;
    color: #0C1462;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 0;
}

.titreDesCasBloc4 p{
    text-align: center;
    color: #3876F2;
    margin-bottom: 70px;
}

.illustrationBloc4{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.catgBloc4{
    margin-left: 12px;
    margin-right: 12px;
    background-color: white;
    width: 310px;
    border-radius: 10px;
    margin-bottom: 24px;
}

.imgcatgBloc4 img{
    width: 310px;
}

.textPartBloc4{
    padding-left: 24px;
}

.textPartBloc4 p{
    color: rgb(121, 121, 121);
    font-size: 13px;
    margin-bottom: 5px;
}

.textPartBloc4 h2{
    color: #0C1462;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    padding-bottom: 8px;
}

@media screen and (max-width : 685px) {
    .bloc4{
        background-color: #F6F9FC;
        padding-bottom: 100px;
    }
    
    .titreDesCasBloc4{
        padding-top: 0;
    }
    
    .titreDesCasBloc4 h2{
        padding-top: 62px;
        margin-top: 0;
        text-align: center;
        color: #0C1462;
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 0;
    }
    
    .titreDesCasBloc4 p{
        font-size: 14px;
        text-align: center;
        color: #3876F2;
        margin-bottom: 46px;
    }
    
    .illustrationBloc4{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .catgBloc4{
        margin-left: 12px;
        margin-right: 12px;
        background-color: white;
        width: 180px;
        border-radius: 10px;
        margin-bottom: 24px;
    }
    
    .imgcatgBloc4 img{
        width: 180px;
    }
    
    .textPartBloc4{
        padding-left: 24px;
    }
    
    .textPartBloc4 p{
        color: rgb(121, 121, 121);
        font-size: 10px;
        margin-top: 4px;
        margin-bottom: 1px;
    }
    
    .textPartBloc4 h2{
        color: #0C1462;
        font-size: 13px;
        font-weight: 500;
        margin-top: 0;
        padding-bottom: 4px;
    }
}